.centered{
    text-align: center;
}

.justified{
    text-align: justify;
}

.navbar-default.navbar{
    color: #fff;
    background-color: #663366;
}

a, a:hover, a:focus {
    color: #663366;
}
body{
    background-color: #ffffff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #663366;
}

.push-breadcrumb-down{
    padding-top: 75px;
}